<a href="https://colab.research.google.com/github/deejayprof/NEXFORD/blob/main/Salary_Function_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import the necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as mp
%matplotlib inline

In [21]:
# Load the salary data into a DataFrame
try:
  Salary_data= pd.read_csv ('/Total.csv')
  print("Data imported successfully!")
  display(Salary_data.head())  # Display the first few rows of data
except FileNotFoundError as e:
    print(f"Error: {e}. Please ensure the file 'salary_data.csv' is in the correct directory.")

Data imported successfully!

<ipython-input-21-37fd057cc36c>:3: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  Salary_data= pd.read_csv ('/Total.csv')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,Not Provided,326373.19,326373.19,2011

In [25]:
print('This Dataset countains {} Rows and {} Columns'.format(Salary_data.shape[0], Salary_data.shape[1]))

This Dataset countains 312882 Rows and 9 Columns

In [22]:
Salary_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312882 entries, 0 to 312881
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      312882 non-null  object
 1   JobTitle          312882 non-null  object
 2   BasePay           312882 non-null  object
 3   OvertimePay       312882 non-null  object
 4   OtherPay          312882 non-null  object
 5   Benefits          312882 non-null  object
 6   TotalPay          312882 non-null  float64
 7   TotalPayBenefits  312882 non-null  float64
 8   Year              312882 non-null  int64
dtypes: float64(2), int64(1), object(6)
memory usage: 21.5+ MB

In [23]:
#Create Employee Function
# Function to get employee details
def get_employee_details(employee_name):
    try:
        # Search for the employee in the dataset
        employee = Salary_data[Salary_data['EmployeeName'].str.lower() == employee_name.lower()]
        if not employee.empty:
            return employee.to_dict(orient='records')[0]
        else:
            raise ValueError(f"Employee '{employee_name}' not found.")
    except Exception as e:
        return f"Error: {e}"

# Test the function
employee_name = "JOANNE HAYES-WHITE"
print(get_employee_details(employee_name))

{'EmployeeName': 'JOANNE HAYES-WHITE', 'JobTitle': 'CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)', 'BasePay': 285262.0, 'OvertimePay': 0.0, 'OtherPay': 17115.73, 'Benefits': 'Not Provided', 'TotalPay': 302377.73, 'TotalPayBenefits': 302377.73, 'Year': 2011}

In [27]:
#Data Processing with Dictionary
# Convert salary data to a dictionary
Salary_dict = Salary_data.to_dict(orient='records')

# Example: Display the first record from the dictionary
print(Salary_dict[0])

{'EmployeeName': 'NATHANIEL FORD', 'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': 167411.18, 'OvertimePay': 0.0, 'OtherPay': 400184.25, 'Benefits': 'Not Provided', 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011}

In [34]:
#Step 5: Implement Error Handling
try:
    # Example: Accessing a non-existent column
    Invalid_column = Salary_data['NonexistentColumn']
except KeyError as e:
    print(f"Error: {e}. Please check your column names.")

Error: 'NonexistentColumn'. Please check your column names.

In [32]:
#Step 6: Export Employee Details
import csv
import os
import zipfile

def export_employee_to_csv(EmployeeName):
    """
    Export employee details to a CSV file and zip it.
    :param name: Name of the employee
    """
    try:
        # Get employee details
        employee_details = get_employee_details(EmployeeName)
        if "Error" not in employee_details:
            # Create a folder for the CSV file
            folder_name = "Employee Profile"
            os.makedirs(folder_name, exist_ok=True)

            # Write the details to a CSV file
            file_path = os.path.join(folder_name, f"{EmployeeName}_details.csv")
            with open(file_path, mode='w', newline='') as file:
                writer = csv.DictWriter(file, fieldnames=employee_details.keys())
                writer.writeheader()
                writer.writerow(employee_details)

            # Zip the folder
            zip_file = f"{folder_name}.zip"
            with zipfile.ZipFile(zip_file, 'w') as zipf:
                for root, _, files in os.walk(folder_name):
                    for file in files:
                        zipf.write(os.path.join(root, file),
                                   arcname=os.path.relpath(os.path.join(root, file), folder_name))

            print(f"Employee details exported and zipped successfully as {zip_file}.")
        else:
            print(employee_details["Error"])
    except Exception as e:
        print(f"Error: {e}")

# Test the function
export_employee_to_csv("NATHANIEL FORD")

Employee details exported and zipped successfully as Employee Profile.zip.